*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: #404040;
    font-family: "Monda";
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #241b22;
    box-shadow: 0 4px 25px -22px white;
    z-index: 10;
    font-family: Cooper;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    color: #fcfdfa;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo b{
    color: #FFC919;
}

.menu {
    height: 80px;
    margin-right: 60px;
    font-family: Monda;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #ffc919;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #fcfdfa;
    font-size: 13px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #ffc919;
}

.menu .text-menu-selected{
    color: #ffc919;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #ffc919;
    border-radius: 100%;
    color: #fcfdfa;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*Buscador de contenido*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #1c3e2c;
}

#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fcfdfa;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fcfdfa;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){
    
    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
    
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }
    
}

@media screen and (max-width: 800px){
    
    body{
        overflow-x: hidden;
    }
    
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }
    
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fcfdfa;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    
    .menu nav ul {
        flex-direction: column;
    }
    
    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    
    .menu-selected:before{
        width: 0;
    }
    
    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #ffc919;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }
    
    .container-aside{
        flex-wrap: wrap;
    }
    
} 

/*Perfil*/

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#F17F34, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #F17F34, #FFC919);
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-data,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
}


.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 100%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 7px 0;
    font-size: 12px;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.novelty a{
    text-decoration: none;
    padding: 9px 40px;
    margin: 10px;
    font-family: Monda;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    background: #1c3e2c;
    color: #fcfdfa;
    cursor: pointer;
}

/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #241b22;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #fcfdfa;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container-footer footer .redes-footer .fa-facebook-f:hover {
    background:#F17F34;
    color: #fcfdfa;
}

.container-footer footer .redes-footer .fa-envelope:hover {
    background:#FFC919;
    color: #fcfdfa;
}

.container-footer footer .redes-footer .fa-instagram:hover {
    background:#FFC919;
    color: #fcfdfa;
}
.container-footer footer .redes-footer .fa-linkedin-in:hover {
    background:#FFC919;
    color: #fcfdfa;
}

.container-footer footer .redes-footer .fa-whatsapp:hover {
    background:#FFC919;
    color: #fcfdfa;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #F17F34;
}

.container-footer h4{
    font-family: Monda;
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #FFC919;
    font-weight: 500;
}